/Windows_Source/nbproject/private/
/Windows_Source/build/
/Student_Source/nbproject/private/
/Student_Source/build/
/LabelButton_Source/nbproject/private/
/LabelButton_Source1/nbproject/private/
/LabelButton_Source1/build/
/TextFieldTextArea_Source/nbproject/private/
/TextFieldTextArea_Source/build/
/KeyEvent_Source/nbproject/private/
/KeyEvent_Source/build/
/CheckboxRadioButton_Source/nbproject/private/
/CheckboxRadioButton_Source/build/
/ComboBox_Source/nbproject/private/
/ComboBox_Source/build/
/ComboBox2_Source/nbproject/private/
/List_Source/nbproject/private/
/List_Source/build/
