/Windows_Source/nbproject/private/
/Windows_Source/build/
/Student_Source/nbproject/private/
/Student_Source/build/
/LabelButton_Source/nbproject/private/
/LabelButton_Source1/nbproject/private/
/LabelButton_Source1/build/
